@media (min-width:320px) and (max-width:720px) {
  .main{
margin: 1em 6em; 
  }
  .align-box{
    width: 20em;
  }

  .heading{
    font-size: 13px;
    margin: 0 5px;
  }
  .subheading{
    font-size: 13px;
    margin: 0 20px;
  }
}